#search {
  display: block;
  margin: 20px auto;
  padding: 5px 10px;

  border: 1px solid grey;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px;
  border-radius: 5px;
}

::placeholder {
  color: rgb(129, 127, 127);
  font-size: 16px;
  font-style: italic;
}
